header{ height: 25vh;
    background-color:  #0d6efd;
    nav{
        
        div{
            
            ul{
                
                li{
                    margin: 15px;
                    a{
                        text-decoration: none !important;
                        color: white !important;
                    }
                }
            }
        }
    }
}

header{
    div{
        label{margin-left: 80%; color:white}
        
    }
}

.LogoUnoss {
    margin-top: 30px;
}

